{
  "presets": [
    ["@babel/preset-env", {
      /* ... */
      "exclude": ["transform-async-to-generator", "transform-regenerator"]
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties", ["module:fast-async", { "spec": true }]
  ]
}